.gallery-root {
  position: relative;
  text-align: center;
  max-width: 88.9%;
  margin: auto;
}

.gallery-header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.gallery-intro {
  font-size: 15pt;
}

.show {
  display: block;
}
.hide {
  display: none;
}

.spinner {
  position: fixed;
  left: 50%;
  bottom: 5%;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #f25c05;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 100;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
